{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
        <div class="col-md-6 m-auto">
            <h1 class="text-center mb-3">Découvre des animaux</h1>
            {% for animal in animals %}
                <div class="card mb-5">
                    <img
                            src="https://mdbootstrap.com/img/new/slides/041.jpg"
                            class="card-img-top"
                            alt={{ animal.name }}
                    />
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ animal.name }}</h5>
                        <p class="card-text col-md-6">
                            {{ animal.description }}
                        </p>
                    </div>
                    <a href="{{ path('app_animal_show', {id: animal.id}) }}" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
            {% endfor %}
        </div>

{% endblock %}
