<div class="col-md-6 m-auto">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="col-md-4">
            <a class="navbar-brand" href="{{ path("app_animal_index") }}">Accueil</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-md-8" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_register") }}">S'enregister</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_animal_new") }}">Ajouter un animal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profil</a>
                </li>
            </ul>
        </div>
    </nav>
</div>